@charset "UTF-8";

/* 네비게이션 */
/* 초기화 */
* {
    margin: 0; padding: 0;
    font: normal 13px 'Arial';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }

/* 푸터 하단고정 */
html {

    position: relative;

    min-height: 100%;

    margin: 0;

    overflow-x: hidden;

}

body {

    min-height: 100%;

}

header {
    width: 100%;
    left: 0;
}

header .logo {
    width: 100%;
    height: 70px;
    text-align: center;
    background: white;
}

header #main_logo {
    width: 180px;
    height: 70px
}



.topMenu {
    /* overflow: hidden; */
    text-align: center;
    background:#2C3A49;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    z-index: 9999;
}

.topMenu .dep01 li {
    float: left;
    width: 50%;
    height: 60px;
    list-style: none;
    display: block;
}

.topMenu .dep01 li span {
    display: block;
    padding:22px;
}

.dep01 {
    /* height: 60px; */
    padding: 0;
    margin: 0;
    text-align: center;
}

.dep02 {
    position: absolute;
    list-style: none;
    display: none;
    width: 50%;
    background: #5C6A79;
    padding: 0;
    z-index: 9999;
}

.dep02 li {
    position: relative;
}

.dep02 li:hover {
    background:#2C3A49;
}

.dep02 li:hover a {
    color: white;
}

.dep02 #dep02_01 {
    width: 100%;
}

.dep02 a {
    color: white;
    display: block;
    padding: 20px;
}

/* 모바일 햄버거 메뉴 */
#hamburger-wrapper {
    display: none;
}

#sidenav {
    display: none;
}



/* 푸터 */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #2C3A49;
    color: white;
}

.footer_img {
    padding-top: 20px;
    width: 30px;
    height: 30px;
}

@media screen and (max-width:767px) {
    .dep01 {
        display: none;
    }
    
    
    #hamburger-wrapper {
        display: block;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    #hamburger {
        cursor: pointer;
        font-size: 2em;
    }
    
    #close-sidenav {
        display: block;
        cursor: pointer;
        /* margin-right: -10px; */
        float: right;
    }
    
    #sidenav {
        display: block;
        height: 100%; width: 100%;
        top: 0; right: -100%;
        background: #303942;
        position: fixed;
        transition: 0.3s;
        opacity: 0.7;
        z-index: 9999;
    }
    
    #sidenav ul {
        margin: 0; 
        padding-top: 100px; 
        list-style-type: none;
        font-size: 20px;
    }

    #close-sidenav {
        display: block;
    }
    
    header li {
        color:springgreen;
        padding: 10px;
        padding-top: 10px;
        text-align: center;
        font-size: 1.5em;
        opacity: 1;
    }

    header li a {
        color: white;
        padding: 20px;
        display: block;
        font-size: 15px;
    }

    header li:hover a {
        background: black   ;
    }


}


    
    

    

