@charset "UTF-8";

#main_event {
    overflow: hidden;

    width: 1024px;
    margin: 0 auto;

}

#main_event #event_banner {
    float: left;
    width: 100%;
    margin-top: 50px;
    /* margin-bottom: 100px; */
}

#main_event #event_banner img {
    padding-left: 100%;
    transform:translateX(-50%);
}

.slide {
    position: relative;
    /* margin-bottom: 200px; */
}

.item {
    /* background-color:darkslategray;
    text-align: center;
    line-height: 400px;
    font-size: 60px;
    color: black;
    border: 1px solid black; */
}

#event_list {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    

    margin-bottom: 210px;
}

#event_list img {
    float: left;
}

#event_list img:nth-of-type(1) {
    padding-right: 40px;
}

#event_list img:nth-of-type(3) {
    float: right;
    padding-left: 20px;
}


@media screen and (max-width:767px) {
    #main_event {
        width: 100%;
        margin: auto;
    }

    .item {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    #main_event {
        width: 100%;
        margin: auto;
    }

    .item img {
        height: 100%;
    }
}

@media screen and (min-width:1024px){
    #main_event {
        width: 1024px;
        margin: 0 auto;
    }

    .slide {
        width: 1024px;
        margin: 0 auto;

        margin-bottom: 50px;
    }

    .item img {
        height: 400px;
    }

    #slide_background {
        background: gray;
        width: 100%;   
    }
}