@charset "UTF-8";

#main_event {
    overflow: hidden;

    width: 1024px;
    margin: 0 auto;

}

#main_event #event_banner {
    float: left;
    width: 100%;
    margin-top: 50px;
    /* background-color: black; */
    /* margin-bottom: 100px; */
}

#main_event #event_banner img {
    width: 800px;
    height: 200px;
    padding-left: 100%;
    transform:translateX(-50%);
}

.slide {
    position: relative;
}


#event_banner {
    margin-bottom: 50px;
}

#event_list {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 210px;
}

#event_list #wrap {
    width: 100%;
    float: left;
}



#event_list #wrap a:nth-of-type(1) img {
    padding-right: 35px;
    width: 350px;
    height: 350px;
}

#event_list #wrap a:nth-of-type(3) img {
    float: right;
    padding-left: 20px;
}

#event_list #wrap a:nth-of-type(4) img{
    padding-right: 35px;
    margin-top: 20px;
}

#event_list #wrap a:nth-of-type(5) img{
    margin-top: 20px;
}


@media screen and (max-width:767px) {
    #main_event #event_banner img {
        width: 100%;
        height: 150px;
        padding-left: 100%;
        transform:translateX(-50%);
    }
    
    #main_event {
        width: 100%;
        margin: auto;
    }

    .slide {
        margin-bottom: 50px;
    }

    .item {
        width: 100%;
        height: 100%;
    }

    #event_list {
        width: 100%;  
        text-align: center;
    }

    #event_list #wrap {
        width: 100%;
        margin: 0 auto;
    }

    #event_list #wrap a:nth-of-type(1) img{
        padding-left: 100%;
        padding-right: 0;
        transform: translateX(-50%);
    }

    #event_list #wrap a:nth-of-type(2) img  {
        margin-top: 20px;
        padding-left: 100%;
        padding-right: 0;
        transform: translateX(-50%);
    }
    
    #event_list #wrap a:nth-of-type(3) img  {
        display: none;
    }
    
    #event_list #wrap a:nth-of-type(4) img  {
        margin-top: 20px;
        padding-left: 100%;
        padding-right: 0;
        transform: translateX(-50%);
    }
    
    #event_list #wrap a:nth-of-type(5) img  {
        margin-top: 20px;
        padding-left: 100%;
        padding-right: 0;
        transform: translateX(-50%);
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    #main_event {
        width: 100%;
        margin: auto;
    }

    .item img {
        height: 100%;
    }

    .slide {
        margin-bottom: 50px;
    }

    #event_list {
        width: 100%;
    }


    #event_list #wrap {
        width: 100%;
        float: left;
        text-align: center;
    }


    #event_list #wrap a:nth-of-type(1) img{
        padding-right: 0;
        width: 30%;
        height: 250px;
        
    }

    #event_list #wrap a:nth-of-type(2) img  {
        padding-right: 0;
        padding-left: 20px;
        width: 30%;
        
    }
    
    #event_list #wrap a:nth-of-type(3) img  {
        /* display: none; */
        width: 20%;
        margin-right: 30px;
    }
    
    #event_list #wrap a:nth-of-type(4) img  {
        padding-right: 0;
        width: 30%;
        
    }
    
    #event_list #wrap a:nth-of-type(5) img  {
        padding-right: 0;
        padding-left: 20px;
        width: 30%;
        
    }
}

@media screen and (min-width:1024px){
    #main_event {
        width: 1024px;
        margin: 0 auto;
    }

    .slide {
        width: 1024px;
        margin: 0 auto;

        margin-bottom: 50px;
    }

    .item img {
        height: 400px;
    }

    #slide_background {
        background: #363636;
        width: 100%;   
    }
}