@charset "UTF-8";

#main_h1 {
    text-align: center;
    margin-top: 50px;
}

#main_h1 h1{
    font-size: 30px;
}



.slide {
    position: relative;
    margin-top: 50px;
    
    
}

.owl-dots{display:none;}

.customPrevBtn, .customNextBtn{
    background : none;
    border: none;
    color: #999999;
    font-size: 20px;
    font-weight: bold;
}
@media(max-width:768px){
    .pbPrevBtn, .pbNextBtn{
        display: none;
    }
}

.item a img {
    transition: all 0.2s linear;
    background-size: cover;
}

.item:hover a img {
    transform: scale(1.1);    
}


#banner {
    padding-top: 50px;
    position: relative;

    width: 100vw;
    margin-bottom: 200px;
}

#img_black {
    position: absolute;
    width: 100vw;
    height: 400px;
    background: black;
    opacity: 0.5;
}

#banner {
    position: relative;
    margin-bottom: 110px;
}

.main_phrase {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    left: 50%;
    top: 50%;
    text-align: center;
}

@media screen and (max-width:767px) {
    #banner #img {
        background-image: url("/image/main/banner2.jpg");
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    
    .item a {
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #banner #img {
        background-image: url("/image/main/banner2.jpg");
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    
}


@media screen and (min-width:1024px) {
    #banner #img {
        background-image: url("/image/main/banner4.jpg");
        background-size: cover;
        height: 400px;
    }

    
}

