@charset "UTF-8";

#main_h1 {
    text-align: center;
    margin-top: 50px;
}

#main_h1 h1{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Sunflower', sans-serif;
}



.slide {
    position: relative;
    margin-top: 50px;
    
    
}

.owl-dots{display:none;}



.item a img {
    transition: all 0.2s linear;
    background-size: cover;
}

.item:hover a img {
    transform: scale(1.1);    
}


#banner {
    padding-top: 50px;
    position: relative;

    width: 100vw;
    margin-bottom: 200px;
}

#img_black {
    position: absolute;
    width: 100vw;
    height: 400px;
    background: black;
    opacity: 0.5;
}

#banner {
    position: relative;
    margin-bottom: 110px;
}

@media screen and (max-width:767px) {
    #banner #img {
        background-image: url("/image/main/banner2.jpg");
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    
    .item a {
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #banner #img {
        background-image: url("/image/main/banner2.jpg");
        background-size: cover;
        height: 400px;
        width: 100%;
    }

    
}


@media screen and (min-width:1024px) {
    #banner #img {
        background-image: url("/image/main/banner4.jpg");
        background-size: cover;
        height: 400px;
    }

    
}


/* 사이트 리스트 */

#site_phrase {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Sunflower', sans-serif;
}

#site_wrap {
    width: 1280px;
    margin: 0 auto;

    overflow: hidden;
}


#site_list {
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 250px;
    text-align: center;
}

#site_list .site {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    background-color: rgb(44, 58, 73);
    width: 28%;
    /* border: 1px solid black; */
    border-radius: 50px;
}

#site_list a {
    color: black;
    display: block;
    /* border: 1px solid black; */
    border-radius: 40px;
    height: 250px;
    padding: 20px;
    background: white;
    font-size: 28px;
}

#site_list a .site_img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

@media screen and (max-width:767px) {
    #site_wrap {
        width: 100%;
        text-align: center;
    }

    #site_list .site {
        display: inline-block;
        /* margin: 20px; */
        padding: 0px;
        background-color: rgb(44, 58, 73);
        border-radius: 50px;
        width: 200px;
        height: 330px;
        margin-left: 0;
        margin-right: 21%;
    }

    #site_list a {
        display: inline-block;
        border-radius: 40px;
        margin: 10px;
        padding: 30px;
        background: white;
    }
    
    #site_list a .site_img {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width:768px) and (max-width:1279px){
    #site_wrap {
        width: 100%;
        text-align: center;
    }

    #site_list {
        width: 100%;
        text-align: center;
    }
    

    #site_list .site {
        display: inline-block;
        /* margin: 20px; */
        padding: 0px;
        background-color: rgb(44, 58, 73);
        border-radius: 50px;
        width: 200px;
        height: 330px;
        margin-right: 21%;
    }

    #site_list a {
        display: inline-block;
        border-radius: 40px;
        margin: 10px;
        padding: 30px;
        background: white;
    }
    
    #site_list a .site_img {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }

}


@media screen and (min-width:1280px) {
    
}