@charset "UTF-8";

body {
    background:cornflowerblue;
}

#result_box {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 150px;
}

#result {
    margin-top: 200px;
    /* height: 10px; */
    display: inline-block;
    /* width: 22%; */
    /* border: 1px black solid; */
}

.books {
    /* border: 1px solid black; */
    float: left;
    width: 30%;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.books a {
    color: black;
    font-size: 20px;
}


@media screen and (max-width:767px) {
    #result_box {
        width: 100%;
    }
    
    .books {
        width: 100%;
        background: none;
        margin: 0;
        border: none;
        /* margin-bottom: 40px; */
        padding: 20px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid black;
    }

    
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #result_box {
        width: 100%;
    }

    .books {
        width: 39%;
        height: 300px;
        padding: 20px;
    }
}


@media screen and (min-width:1024px) {
    .books {
        width: 25%;
        height: 300px;
        padding: 20px;
        padding-top: 40px;
    }

    
}










