@charset "UTF-8";

body {
    background:cornflowerblue;
}

#result_box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 150px;
}

#result {
    margin-top: 200px;
    /* height: 10px; */
    display: inline-block;
    /* width: 22%; */
    /* border: 1px black solid; */
}













